<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main-registration.css' %}">
</head>
<body>
    <div id="hintergrund"></div>
        <div id="wrapper"></div>

            <h1>Benutzerprofil</h1>
            <p>{{ user.username }}</p>
    <div style="display: flex; justify-content: center">
{#        <img src="../../media/avatars/garmisch_2021_2.jpg" style="width: 20%; border-radius: 50%; object-fit: cover">#}
        <img src="{{ profile.avatar.url }}" style="width: 20%; border-radius: 50%; object-fit: cover">
        <p>{{ user.username }}</p>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
    </div>
    <p><a href="{% url 'activity_overview' %}">Zurück</a></p>

    </div>
</body>
</html>