<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrieren</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main-registration.css' %}">
    <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
    </style>
</head>
<body>
    <header class="header">
            <nav class="navbar">
                <a href="{% url 'startpage' %}" class="nav-logo">auxactivity</a>
            </nav>
        </header>

        <main class="content">
            <form class="form" method="POST" enctype="multipart/form-data">
                <h1>Registrieren</h1>
                {% csrf_token %}
{#                <label for="Vorname">Vorname:</label>#}
{#                <input type="text" name="firstname" label="Vorname">#}
{#                <label for="Nachname">Nachname:</label>#}
{#                <input type="text" name="lastname" label="Nachname">#}
                {{ form.as_p }}
                {{ profile_form.as_p }}
                <button class="act-btn" type="submit">Registrieren</button>
                <p class="zurueck"><a href="{% url 'startpage' %}">Zurück</a></p>
            </form>
        </main>
    </div>
</body>
</html>