<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Aktivitäten</title>
</head>
<body>
    <h1>Aktivitäten</h1>
    {% if user.is_authenticated  %}
        <p>Hallo {{ user.username }}, hier kannst du deine Aktivitäten filtern</p>
        <p><a href="{% url 'logout_url' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'login_url' %}">Login</a></p>
    {% endif %}
    <p><a href="{% url 'add_activity' %}">Neue Aktivität hinzufügen</a></p>
<ul>
    {% for activity in activities %}
    <li>{{ activity.name }}
        <ul>
        {% for categories in activity.categories.all %}
        <li>{{ categories.name }}</li>
            {% endfor %}
        </ul>
</li>
    {% endfor %}
</ul>
</body>
</html>