<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Auswählen</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'filter.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
        </style>
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <a href="{% url 'startpage' %}" class="nav-logo">auxactivity</a>
                <ul class="nav-menu">
                    {% if user.is_authenticated  %}
                    <li class="nav-item">
                        <a href="{% url 'activity_overview' %}" class="nav-link">aktivitäten</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout_url' %}" class="nav-link">logout</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile_url' %}" class="nav-link">mein profil</a>
                        <img src="{{ userprofile.avatar.url }}">
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login_url' %}" class="nav-link">login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register_url' %}" class="nav-link">registrieren</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>

        <main class="content">
             <form id="form" action="{% url 'activity_overview' %}" method="get">
            <h1>Nach was suchst du?</h1>
            <p>Wähle passende Kategorien für deine Aktivität.</p>


                <div class="Container_Auswahl">

                    {% for category in categories %}
                        <div>
                            <input id="{{ category.id }}" type="checkbox" name="categories_selected" value="{{ category.name }}">
                                <label for="{{ category.id }}"> {{ category.name }} </label>
                        </div>
                    {% endfor %}
                </div>
                <br/>
                <button class="act-btn" type="submit">Weiter</button>
                 <p><a href="{% url 'startpage' %}">Zurück</a></p>
            </form>
            <br/>



        </main>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>