* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    z-index: 1;
}

#hintergrund {
    background-color: #00677C;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 15000px;
    height: 500px;
    z-index: -1;
}

#wrapper {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-right:30px;
    min-width: 600px;
}

nav {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    color: white;
}

header {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    color: white;
    margin: 30px;
    margin-left: 60px;
  }

  article {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  aside {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  main {
      grid-column: 1 / 5;
      grid-row: 3 / 4;
  }

  footer {
    color: white;
    background-color: #00677C;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    padding: 50px;
  }

  nav ul {
      float: right;
      text-decoration: none;
      list-style-type: none;
      overflow: auto;
  }

  nav ul li {
      display: inline-block;
      margin: 50px;
  }

  a {
      text-decoration: none;
      color: white;
  }

  #gruss {
     grid-column: 1 / 3;
     grid-row: 2 / 3;
  }

  #standort {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
  }

  .containerHead {
      display: flex;
      justify-content: space-between;

  }

  #standort {
      align-self: flex-end;
      padding-right: 200px;
  }

  article, aside {
      background-color: white;
      margin: 50px;
      margin-right: 30px;
      padding: 50px 50px 10px 50px;
      box-shadow: 10px 10px 10px #51565C;
	  border-radius: 30px;
  }

  button {
      background-color: #00677C;
      color: white;
      border: none;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 20px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 40px;
      font-size: 25px;
      box-shadow: 10px 10px 10px #51565C;
      margin-bottom: 70px;
  }

  button:hover {
    cursor: pointer;
  }

  button:active {
    cursor: pointer;
    box-shadow: 0px 0px 0px;
    background-color: #C9B70A;
  }



  h2 {
      font-size: 60px;
  }

  .containerArticle {
    display: flex;
    justify-content: space-between;

}

.containerActivity {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

}

.containerActivity>div {
    min-width: 10%;
    max-width: 20%;
    background-color: white;
    margin: 50px;
    margin-right: 30px;
    padding: 50px;
    box-shadow: 10px 10px 10px #51565C;
    border-radius: 30px;
}

.containerArticle>div {
    width: 50%;
}

.kategorien {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 50px;
}

.kategorien li {
    float: left;
    padding-right: 40px;
    margin-right: 30px;
    color: #00677C;
    font-weight: bold;
}

#kalender {
    width: 50%;
    padding: 20px;
    padding-left: 0px;
    margin-top: 10px;
}

.person {
    margin: 10px 0px 10px 0px;
    width: 50px;
}

.underline {
    color:#00677C;
    text-decoration: underline;
    font-weight: lighter;
}

.nachricht {
    font-size: 35px;
    margin-top: 30px;
    font-weight: lighter;
}

.picknick {
    position: relative;
    top: -30px;
    width: 60%;
    float: right;
    transform: rotate(-10deg);
}


